# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# PyCharm
.idea/

# Environment variables / API keys
.env

# Generated FAISS index files
vector_store/faiss_index/*
!vector_store/faiss_index/.gitkeep

# OS files
.DS_Store
Thumbs.db